<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pink2016.revive">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.pink2016.revive.ArrhythmiaPTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.pink2016.revive.UsbService"
            android:enabled="true" />

        <activity
            android:name="com.pink2016.revive.LoginActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
            />
        </activity>
        <activity
            android:name="com.pink2016.revive.FirstTutorialScreen"
            android:screenOrientation="portrait">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>/>
        </activity>
        <activity
            android:name="com.pink2016.revive.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.MainMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.Notes.NotesListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.Notes.NoteEditActivity"
            android:screenOrientation="portrait" />

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.pink2016.revive.Notes.SymptomsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.Notes.SymptomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.e01StayCalmCall"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.e02ConnectPhone"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.e03RemovePads"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.e04ExposeChest"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.e07BeginCPR"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.e05PrepPads"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.e08Analyzing"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.e11ReadyToShock"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.e12ShockDelivered"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.c01FirstHand"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.c02SecondHand"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.c03PressMotion"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.b02UseCase"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.e10Advised"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.e10_12NotAdvised"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.e13StartCPR"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.e06PlacePads"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.c04CprBeat"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.ArduinoTestingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.f00Questions"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.f01ReplacePads"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.f02SafetyCheck"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.f03BatteryPower"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.f04CellSignal"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pink2016.revive.f05Instructions"
            android:screenOrientation="portrait" />
        <activity android:name="com.pink2016.revive.e99PadsDisconnected"></activity>
    </application>

</manifest>